/* Reset Simples */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Geral */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Barra de Navegação */
.header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Área Principal */
.main-content {
   display: flex;
   flex: 1;
}

/* Menu Lateral */
.sidebar{
    background-color: #34495e;
    color: #fff;
    flex: 1;
    padding: 20px;
    min-width: 200px;
}

/* Conteúdo Principal */
.content {
    background-color: #ecf0f1;
    flex: 3;
    padding: 20px;
}

*/ Rodapé */
.footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
}

*/ Responsividade simples */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .sidebar {
        min-width: auto;
    }
}